.container {
  margin: 0 auto;
  background: #EBEEF0;
  max-width:700px;
  overflow: auto;
}
body {
  background: #003F6A;
}
img {
  max-width: 400px;
}
* {
  box-sizing: border-box;
}
a {
  color: slategrey;
}
h1 {
  font-family: "Georgia";
}
h3 {
  font-weight: normal;
  padding-bottom: 2px;
  font-family: "Georgia";
}
h2 {
  margin-top: 0px;
  font-size: 24px;
  font-style: italic;
  font-family: "Georgia";
}
.events {
  background-color: white;
  padding: 5px;
  border: 3px dashed slategrey;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}
.sourceline {
  border-bottom: 5px solid #E8E8E8;
  margin-bottom: 35px;
  padding-bottom: 20px;
}
@media (min-width: 500px) {
.column-left {
  float: left;
  width: 67%;
  box-sizing: border-box;
}
.column-right {
  float: left;
  width: 33%;
  box-sizing: border-box;
}
}
